@media only screen
    and (max-width: 1200px) {

        .wrapper {
            display: grid;
            align-items: center;
            grid-gap: 20px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 50px;
            grid-row: auto;
            margin-left: 10vw;
            margin-right: 10vw;
          }
    
          .nav_container {
            grid-column-start: 2;
          }
          
          .header {
            grid-column-start: 1;
            grid-column-end: -1;display: grid;
            justify-items: center;
          }

          .header h1 {
              font-size: 9.3vw;
              text-align: center;
          }

          .body {
            grid-column-start: 1;
            grid-column-end: -1;
            display: grid;
            justify-items: center;
            gap: 20px;
          }
    }

@media only screen
    and (min-width: 1200px) {
    
        .wrapper {
            margin-left: 10px;
            margin-right: 10px;
            display: grid;
            align-items: center;
            grid-gap: 20px;
            grid-template-rows: 50px;
            grid-template-columns: 1fr 1fr;
            grid-row: auto;
            height: 100vh;
        }

        .nav_container {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .header {
            grid-row-start: 2;
            grid-column-start: 1;
            justify-self: center;
        }

        .body {
            grid-row-start: 2;
            grid-column-start: 2;
        }

        #symphonyPoster {
            margin: 50px;
        }
    }