#secrets {
  color: #171717;
}

#secrets:hover {
  color: #171717;
}

@media only screen
  and (max-width: 1200px) {

    .wrapper {
      display: grid;
      align-items: center;
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 50px;
      grid-row: auto;
      margin-left: 10vw;
      margin-right: 10vw;
    }

    .nav_container {
      grid-column-start: 2;
    }

    .home_container {
      grid-column: span 2;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    h1 {
      font-size: 10em;
    }

    .image {
      display: flex;
      flex-direction: column;
    }

    #image {
      width: 60%;
      align-self: center;
      justify-self: center;
    }
  }

@media only screen
  and (min-width: 1200px) {

      body {
        height: 100%;
        margin: 0;
      }

      .wrapper {
        margin-left: 10px;
        margin-right: 10px;
        display: grid;
        align-items: center;
        grid-gap: 20px;
        grid-template-rows: 50px;
        grid-row: auto;
        height: 100vh;
      }

      .nav_container {
      }

      .home_container {
        display: grid;
        grid-template-columns: minmax(0, 250px) minmax(0,800px) minmax(0,800px);
        justify-content: center;
        align-content: center;
        margin-left: 100px;
        margin-right: 100px;
        grid-gap: 20px;
      }

      .item {
      }

      #first {
        display: inline;
        float: left;
      }

      #last {
        display: inline;
        float: left;
        padding-left: 25px;
      }

      .header {
        grid-column-start: 2;
        grid-column-end: 4;
      }

      .body {
        grid-column-start: 2;
        grid-column-end: -1;
      }

      .image{
        grid-row-start: 1;
        grid-row-end: 3;
        margin-right: 30px;
      }

      #image {
        padding-top: 30px;
        max-width: 100%;
        display: block;
      }
    }