@media only screen
    and (max-width: 1200px) {

    }

@media only screen
    and (min-width: 1200px) {
    
        .wrapper {
            margin-left: 10px;
            margin-right: 10px;
            display: grid;
            align-items: center;
            grid-gap: 20px;
            grid-template-rows: 50px;
            grid-template-columns: 2fr 3fr;
            grid-row: auto;
            height: 100vh;
        }

        .nav_container {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .header {
            grid-row-start: 2;
            grid-column-start: 1;
        }

        .body {
            grid-row-start: 2;
            grid-column-start: 2;
        }

    }