h1 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 108px;
  margin-top: auto;
  margin-bottom: auto;
  color: #ca883a;
}

h2 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 72px;
  margin-top: auto;
  margin-bottom: auto;
  color: #ca883a;
}

h3 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 60px;
  margin-top: auto;
  margin-bottom: auto;
  color: #ca883a;
}

h4 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 48px;
  margin-top: auto;
  margin-bottom: auto;
  color: #ca883a;
}

h5 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 36px;
  margin-top: auto;
  margin-bottom: auto;
  color: #ca883a;
}

h6 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  margin-top: auto;
  margin-bottom: auto;
  color: #ca883a;
}

p {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18pt;
  letter-spacing: 1px;
  margin-top: auto;
  margin-bottom: auto;
  color: #ffe6c7;
}

a {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18pt;
  letter-spacing: 1px;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
  color: #c91c04;
  transition: color .2s ease-out 0s;
}

a:link {
  color: #c91c04;
}

a:hover {
  color: #8c0b19;
}

a:active {
  color: #877f74;
}

/* a:visited {
  color: #8c0b19;
} */

.separator {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 300;
  font-style: normal;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 24px;
  color: #877f74;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
}

.nav a {
  padding-left: 10px;
  font-size: 24px;
}

@media only screen
  and (max-width: 1200px) {

    body {
      background-color: #202020;
    }

  }

  @media only screen
  and (min-width: 1200px) {

    body {
      background: linear-gradient(170deg, #202020, #171717);
    }
  }