@media only screen
  and (max-width: 1200px) {

    .wrapper {
      display: grid;
      align-items: center;
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 50px;
      grid-row: auto;
      margin-left: 10vw;
      margin-right: 10vw;
    }

    .nav_container {
      grid-column-start: 2;
    }

    .work_container {
      grid-column: span 2;
      display: grid;
      justify-content: center;
      align-content: center;
      align-items: center;
      grid-template-columns: 2fr 3fr 3fr;
      grid-template-rows: minmax(300px, auto);
      grid-gap: 20px;
    }

    .item {
    }

    #first {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    #last {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .header {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 1;
    }
    
    .header h1 {
      font-size: 11vw;
      text-align: center;
    }

    .image {
      grid-row-start: 1;
    }

    #image {
      max-width: 100%;
      max-height: 100%;
      display: block;
    }

    .body {
      margin-top: 150px;
      grid-column: span 3;
    }

    .workMenu li {
      list-style-image: url("../img/menuIcon.png");
      padding-top: 40px;
    }

    .workMenu a {
        font-size: 24pt;
    }

  }

@media only screen
  and (min-width: 1200px) {

      body {
        height: 100%;
        margin: 0;
      }

      .wrapper {
        margin-left: 10px;
        margin-right: 10px;
        display: grid;
        align-items: center;
        grid-gap: 20px;
        grid-template-rows: 50px;
        grid-row: auto;
        height: 100vh;
      }

      .nav_container {
      }

      .work_container {
        display: grid;
        grid-template-columns: minmax(0, 250px) minmax(0,800px) minmax(0,800px);
        justify-content: center;
        align-content: center;
        margin-left: 100px;
        margin-right: 100px;
        /* grid-gap: 20px; */
      }

      .item {
      }

      #first {
        display: inline;
        float: left;
      }

      #last {
        display: inline;
        float: left;
        padding-left: 25px;
      }

      .header {
        grid-column-start: 2;
        grid-column-end: 4;
      }

      .body {
        grid-column-start: 2;
        grid-column-end: 3;
        justify-content: start;
      }

      .image{
        grid-row-start: 1;
        grid-row-end: 3;
        margin-right: 50px;
      }

      #image {
        padding-top: 30px;
        max-width: 100%;
        display: block;
      }

      .workMenu {
          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-start;
          padding: 1em;
          margin-left: 30px;
          margin-top: 0px;
      }

      .workMenu li {
        list-style-image: url("../img/menuIcon.png");
      }

      .workMenu a {
          font-size: 30pt;
      }
    }