.page {
  background-color: lightgray;
  color: inherit;
}

p {
  background-color: inherit;
  color: red;
  font-size: 200%;
  text-align: center;
  text-decoration: underline;
  text-shadow: 1px 1px 2px black;
}

h1 {
  background-color: inherit;
  color: blue;
  font-size: xxx-large;
  text-align: center;
}

#testID-1 {
  background-color: inherit;
  color: green;
}

.test-class {
  background-color: inherit;
  color: inherit;
  font-family: sans-serif;
}

a:link {
  background-color: inherit;
  color: red;
}
a:hover {
  background-color: inherit;
  color: blue;
  text-shadow: 10px 10px 10px black;
}
