h1 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 108px;
    margin-top: auto;
    margin-bottom: auto;
    color: #ca883a;
}
  
h3 {
    font-family: neue-haas-grotesk-display, sans-serif;
    text-align: center;
    font-weight: 300;
    font-style: normal;
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: auto;
    color: #ffe6c7;
}

p {
    font-size: 72px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #c91c04;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 40px 400px 100px;
    align-items: center;
    justify-content: center;
}

#reset {
    grid-row-start: 3;
    width: 100px;
    padding: 10px;
    margin-left: 15px;
    justify-self: center;
}

#winText {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: -1;
}

.gameArea {
    grid-row-start: 2;
    display: grid;
    width: 300px;
    height: 300px;
    justify-self: center;
    grid-template-columns: auto auto auto;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 3px solid #ffe6c7;
}

#b0,
#b3,
#b6 {
    border-left: none;
}

#b0,
#b1,
#b2 {
    border-top: none;
}

#b2,
#b5,
#b8 {
    border-right: none;
}

#b6,
#b7,
#b8 {
    border-bottom: none;
}

@media only screen
  and (max-width: 1200px) {

    body {
      background-color: #202020;
    }

  }

  @media only screen
  and (min-width: 1200px) {

    body {
      background: linear-gradient(170deg, #202020, #171717);
    }

  }